table {
    border-collapse: collapse;
}

td {
    text-align: right;
    padding: 5px;
  	border: solid 1px #333;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    font-size:120%;
}
input[type="button"],
input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
input[type="button"]:hover,
input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
input[type="submit"]{margin-top: 5px;}
legend{text-align: center;color: #cc0000}