.fan_box .connect_widget {
	color: #fff !important;	
}
.fan_box .full_widget { 
	background: transparent !important;
	border: none !important;
}
.fan_box .full_widget .connect_top { 
	background: transparent !important;
}
.fan_box .connections { 
	border: none !important;
	min-height: 150px;
	padding: 10px 0px 4px 10px;
}
.fan_box .profileimage { 
	display: none !important;
}
.fan_box .name_block { 
	display: none !important;
}
.fan_box .connections { 
	border: none !important;
	padding: 0px !important;
}
.fan_box .connect_top { 
	padding: 0px !important;
}
.fan_box .connect_action { 
	padding: 0px !important;
}
.fan_box .connections_grid .grid_item { 
	padding: 0px !important;
}
.fan_box .connections .connections_grid { 
	padding: 0px !important;
}
.fan_box .connect_widget .connect_widget_interactive_area { 
	margin: 0px !important;
}
.fan_box .connections_grid { 
	width: 186px !important;
}
.fan_box .connections_grid .grid_item img { 
	height: 26px !important;
	width: 26px !important;
}
.fan_box .connections_grid .grid_item:hover { 
	opacity: .5;
}
.fan_box .connections_grid .grid_item .name {
	display: none !important;	
}
.fan_box .connections_grid .grid_item {
	width: 26px !important;
	margin-right: 8px;	
}
.fan_box .connect_widget { 
	position: absolute;
	top: 62px;
}
.fan_box .total { 
	position: absolute;
	top: 32px;
	color: #fff;
}
.fan_box a.connect_widget_like_button {
	margin: 0 !important;
	1padding: 0 !important;
	background: #fff !important;
	border: none !important;
	border-radius: 2px !important;
	padding: 2px 3px !important;
}
.fan_box .connect_widget_like_button .liketext { 
	background-position: -1px -2px;
	padding-left: 20px !important;
	padding-right: 3px !important;
	color: #4c4c4c;
}
.fan_box .connect_widget td.connect_widget_vertical_center { 
	height: 18px !important;
}
body {
	background-color: #700 !important;	
}